@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 400;
  src: url('./static/fonts/TTNormsPro-Regular.woff2');
}

@font-face {
  font-family: 'TT Norms Pro';
  font-weight: 500;
  src: url('./static/fonts/TTNormsPro-Medium.woff2');
}

body {
  margin: 0;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #000000;
}